<%-include('./partials/header')%>

<div class="form">
    <h1>Edit the product Entry</h1>
    <form  action="/products/<%=foundProduct._id%>?_method=PATCH" method="POST">
        <div>
            <label for="naam">Name: </label>
            <input type="text" name="name" id="naam" value="<%=foundProduct.name%>">
        </div>
        <div>
            <label for="pic">Image: </label>
            <input type="text" name="img" id="pic" value="<%=foundProduct.img%>">
        </div>
        <div>
            <label for="daam">Price: </label>
            <input type="text" name="price" id="daam" value="<%=foundProduct.price%>">
        </div>
        <div>
            <label for="details">Description: </label>
            <textarea name="desc" id="details"  rows="3"><%=foundProduct.desc%></textarea>
            <div>
                <button type="submit">Edit Product</button>
            </div>
        </div>
    </form>
</div>


<%-include('./partials/footer')%>
