
<%-include('./partials/header')%>    

    <h1>Showing all products</h1>

    <%for (const item of products) {%>
       <h1><%= item.name%></h1>
       <img src="<%= item.img %>" alt="">
       <h2>Price:<%= item.price %>/-</h2>
       <p><%=item.desc%></p>

       <a href="/products/<%= item._id%>">show This</a>
       <a href="/products/<%= item._id%>/edit">Edit This</a>
        
       <form action="/products/<%= item._id%>/delete?_method=DELETE" method="POST">
        <button>Delete</button>
       </form>

    <%}%>
    
<%-include('./partials/footer')%>
