<%-include('./partials/header')%>
<%-include('./partials/Navbar')%>

<section class="row">
    <h1>Show a perticular Product</h1>
    <div class="col-6 border">
        <h1><%= foundProduct.name%></h1>
        <img src="<%=foundProduct.img %>" alt="">
        <h2>Price:<%=foundProduct.price %>/-</h2>
        <p><%=foundProduct.desc%></p>
        
    </div>

    <div class="col-6 border">
        <h1>Rating form</h1>
        <form action="/products/<%=foundProduct._id%>/rating" method="POST">
            <label for="star">Rating:</label>
            <!-- <input type="range"  min="0" max="5" name="rating"  id="star"> -->
            <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            <br>
            <label for="textt">Rating:</label>
            <textarea name="comment" id="textt" rows="3"></textarea>
            <br>
            <button type="submit">ADD REVIEW</button>
            
        </form>
    </div>
    <div class="col-6 "></div>
    <div class="col-6 border">
        <% for (const review of foundProduct.reviews) {%>

            <h3>Rating</h3>
            <h2 class="starability-result" data-rating="<%= review.rating%>">
             Rated: <%= review.rating%>
            </h2>
            <h5>Comment: <%=review.comment%></h5>
            <%if(review.createdAt){%>
            <h5>Time: <%=review.createdAt.toDateString()%></h5>
           <% }%>
        <%}%>

    </div>

</section>
    

<%-include('./partials/footer')%>